:root {
  --color-primary: #ff728d;
  --color-secondary: #72ebff;
  --color-tertiary: #ff9372;

  --color-primary-strong: #fe6787;
  --color-secondary-strong: #53BBE6;
  --color-tertiary-strong: #632c37;
}
